*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: darkslategrey;
    text-align: center;
    color: aliceblue;
}


.remove-btn {
    margin-left: 400px;
}


#item-input1 {
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}